# Django: Global Exchange
globalexchange.tu-dominio.com {
    encode gzip

    # Archivos estáticos de Django
    handle_path /static/* {
        root * /var/www/django_static
        file_server
    }

    # Todo lo demás va al backend Django
    handle {
        reverse_proxy django-app:8000
    }
}

# SQL Proxy Web
sqlproxy.tu-dominio.com {
    encode gzip
    handle {
        reverse_proxy sql-proxy-web:5000
    }
}

# Simulador SIPAP
simulador.tu-dominio.com {
    encode gzip
    handle {
        reverse_proxy simulador-pagos:8080
    }
}
