# Django: Global Exchange
globalexchange.dev {
    encode gzip

    handle_path /static/* {
        root * /var/www/django_static
        file_server
    }

    handle {
        reverse_proxy django-app:8000 {
            header_up Host {host}
            header_up X-Forwarded-Proto {scheme}
            header_up X-Forwarded-Host {host}
        }
    }
}